{% extends "base.html" %}

{% block content %}
    <form  action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.mode }}
    </form>


    </form>
    {% for env in liste.liste_boutons_env.keys() %}
        {{ env.nom }}
        <form  action="" method="POST">
                {{ form.hidden_tag() }}
                {% for bouton in form %}
                    {% if bouton.id.split('.')[0] == env.nom and bouton.id.split('.')[1] == env.get_preset_select().nom %}
                        {{ bouton }}
                    {% endif %}
                {% endfor %}
        </form>

    {% endfor %}

{% endblock %}
