{% extends "base.html" %}

{% block content %}



    <form  action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.mode_0 }}


    </form>
    {% for env in tree.send("liste_envi")%}
        {% if env.get_preset_select().liste_boutons_html != [] %}
            <label style= {{ env.get_style() }}> {{ env.nom }} </label>
        {% endif %}
        <form  action="" method="POST">
                {{ form.hidden_tag() }}
                {% for bouton in form %}
                    {% if bouton.id.split('_')[0] == env.nom and env.get_preset_select().is_present(bouton.id.split('_')[1]) %}
                        {{ bouton }}
                    {% endif %}
                {% endfor %}
        </form>

    {% endfor %}

{% endblock %}
